.order-list-container {
  position: relative;
  padding: 1rem;
  color: var(--text-color);
}

.order-list-table-actions {
  display: flex;
  justify-content: space-between;
  background: var(--order-list-action-bar);
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  align-items: center;
}

.order-list-table-actions .table-action-right-item {
  display: flex;
  gap: 0.75rem;
}

.table-action-left-item .ant-input {
  background-color: var(--topbar-input) !important;
}

.order-list-container .ant-table-tbody{
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
}

.order-list-container .ant-table-thead > tr > th {
  background-color: var(--background-color) !important;
  color: var(--sidebar-main-head) !important;
}

.order-list-container.ant-table-tbody > tr > td {
  border-color: var(--sidebar-main-head) !important;
}

.order-list-container .ant-table-tbody > tr:hover > td {
  background: var(--table-hover) !important;
}

.order-list-container .drop-down-button {
  visibility: hidden;
}

.action-column:hover .drop-down-button {
  visibility: visible;
}

.order-list-container .ant-pagination .ant-pagination-item, .ant-pagination-item-link{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    border: none;
}
