.dashboard-container{
   position: relative;
   padding: 1rem;
   color: var(--text-color);
}

.dashboard-data {
   display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-data h5{
   text-align: center;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
    transform: translateY(-50%);
}

.dashboard-section{
   display: flex;
   gap: 1rem;
   flex-wrap: wrap;
   /* overflow: auto; */
}

.section{
   background-color: var(--dashboard-section-bg);
   border-radius: 1rem;
   padding: 10px;
   min-height: 20rem;
   max-height: 25rem;
}

.dashboard-pods, .dashboard-bar, .dashboard-country, .dashboard-piechart{
   flex: 1 0;
}

.dashboard-line, .dashboard-table{
   flex: 2 0;
}

.selling-products-table .ant-table {
   background-color: transparent;
   font-size: 12px;
 } 

 .selling-products-table .ant-table-thead > tr > th {
   background-color: transparent;
   color: var(--sidebar-main-head);
   font-weight: 500;
   border-left: none;
 }
 

 .selling-products-table .ant-table-tbody > tr > td {
   background-color: transparent;
   color: var(--text-color);
   border-bottom: none;
 }

 .selling-products-table .ant-table-tbody > tr:hover > td {
   background: none !important;
 }

 /* .selling-product-row:hover{
   background: none !important;
 } */

 .dashboard-country{
   overflow: auto;
 }

 .dashboard-data h5.headingAnimate {
   opacity: 1;
   transform: translateY(0);
 }

